@import "tailwindcss";

/* Custom font */
@font-face {
    font-family: DM-Sans;
    src: url(/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf);
}

@font-face {
    font-family: Brico;
    src: url(/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf);
}

/* Color and text*/
:root{
    --bg-layer-1: #25253e;
    --bg-layer-2: #3c3a5c; /* Hovering */
    --bg-layer-3: #2f2f48; /* Hourly forecast child */
    --bg-layer-4: #3c3b5c; /* Hourly Menu */
    --btn-color: #4058d2;
    --gray-used: #9b9aac;
    --menu-border: #3a3a56;

    --primary-text: DM-Sans, Arial;
    --landing-text: Brico, Arial;

    --main-min-height: calc(100vh - 72px)
}

/* General */
*{
    box-sizing: border-box;
}

/* Scroll */
.scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-layer-2) var(--bg-layer-1);
}